body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: rgb(254, 171, 88);
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  max-width: 600px;
}
