body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color:transparent;
}

img {
  width: 100vw;
  height: 100vh;

}

h1 {
height: 0px;
}

p {
 height: 0px;
}
